# ========================
# Node / Next.js
# ========================
node_modules/
.next/

# Python / Django
__pycache__/

# Ignore all migration files but keep __init__.py
**/migrations/

# Virtual environment
.venv/
env/
venv/





